

.header {
    position: fixed;
    height:5rem;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(163, 64, 14);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0% 10%; */
    color: white;
}

/* .header .button {
    width:10rem;
    height: 3rem;
    border-radius: 17px;
    background-color: rgb(255, 123, 0);
    
} */

.header h1 {
    margin-left: 75px;
}

.header .button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #4f1802;
    color: white;
    padding: 0.75rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    margin-right: 40px;
  }
  
  .header .button:hover,
  .header .button:active {
    background-color: #2c0d00;
  }
  
  .header .button .icon {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 0.5rem;
  }

  .header .badge {
    background-color: #b94517;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;
  }