.App {
  text-align: center;
  background-image: url('./Resources/backgroundshopper.avif');
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
    background-repeat: no-repeat;
    opacity: 80%;
    scroll-behavior: auto;
    
}
.App .head {
  height:5rem
}
.App .shopperform {
  margin:auto;
  width:fit-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: rgb(219, 97, 158);
  margin-top: 15px;
  border-radius: 12px;
}

/* .App .shopperlist {
  
  margin: auto;
  margin-top: 15px;
  width:50rem;
  background-color: aqua;
  border-radius: 12px;
} */
